#show-contact {
  display: none;
}

.link {
  cursor: pointer;
  color: #0088cc;
}

.link:hover {
  text-decoration: underline;
}

.plain {
  background-color: none;
}

.highlight {
  background-color: #ADD8E6;
}
